.custom-navbar {
    
    background-color: $dark-purple;
    font-size: 28px;
    font-weight: $bold;

    a {
        color: darken($orange, 12);
        &:hover {
            color: darken($iso-blade-color, 3);
        }
    }

    .button-nav-link {
        color: darken($orange, 12) !important;
        &:hover {
            color: darken($iso-blade-color, 3) !important;
            cursor: pointer;
        }
    }

    .navbar-brand {
        a {
            font-size: 28px !important;
            font-weight: $bold !important;
        }
    }
        
    .navbar-nav li {
        padding: 10px;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 163, 69, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        &:hover {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 102, 203)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
        &:focus {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 163, 69, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

}